<p id="notice"><%= notice %></p>
<h2><%= @sub_category.name %></h2>

<ol class="breadcrumb">
  <li>Categorie: <%= link_to @sub_category.category.name %></li>
  <li>Sous-Categorie: <%= link_to @sub_category.name %></li>
</ol>

<p>
  <strong>Category Name:</strong>
  <%= @sub_category.category.name %>
</p>


<p>
  <strong>Sub Category Name:</strong>
  <%= @sub_category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @sub_category.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub_category.description %>
</p>

<p>
  <strong>Seo text:</strong>
  <%= @sub_category.seo_text %>
</p>

<p>
  <strong>Seo keywords:</strong>
  <%= @sub_category.seo_keywords %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>

<br>
<hr>
<h2>Toutes les machines pour "<%= @sub_category.category.name %> / <%= @sub_category.name %>"</h2>
<ol>
  <% @sub_category.productranges.each do |range| %>
    <li><%= range.name %></li>
  <% end %>
</ol>

<%= render partial: 'shared/products', locals: { products: @sub_category.productranges.map(&:products) } %>
