<p id="notice"><%= notice %></p>
<h2><%= @productrange.name %></h2>
<ol class="breadcrumb">
  <li>Sous-catégorie: <%= link_to @productrange.sub_category.try(:name) %></li>
  <li>Marque: <%= link_to @productrange.brand.try(:name) %></li>
  <li>Gamme: <%= link_to @productrange.name %></li>
</ol>

<p>
  <strong>Name:</strong>
  <%= @productrange.name %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @productrange.brand.try(:name) %>
</p>

<p>
  <strong>Sous-catégorie:</strong>
  <%= @productrange.sub_category.try(:name) %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @productrange.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @productrange.description %>
</p>

<p>
  <strong>Imgs:</strong>
  <%= @productrange.imgs %>
</p>

<p>
  <strong>Seo text:</strong>
  <%= @productrange.seo_text %>
</p>

<p>
  <strong>Seo keywords:</strong>
  <%= @productrange.seo_keywords %>
</p>

<%= link_to 'Edit', edit_productrange_path(@productrange) %> |
<%= link_to 'Back', productranges_path %>

<br>
<hr>
<h2>Toutes les machines de "<%= @productrange.sub_category.try(:name) %> / <%= @productrange.brand.try(:name) %> / <%= @productrange.name %>"</h2>
<%= render partial: 'shared/products', locals: {products: @productrange.products} %>
