<h2><%= @product.name %></h2>
<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>Sous Catégorie: <%= link_to @product.productrange.sub_category.name if @product.productrange %></li>
  <li>Marque: <%= link_to @product.productrange.brand.name if @product.productrange %></li>
  <li>Gamme: <%= link_to @product.productrange.name if @product.productrange %></li>
  <li class="active"><%= @product.name %></li>
</ol>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= completion @product %>%">
    Fiche à <%= completion @product %>% complète!
  </div>
</div>

<div class="row">
  <% images(@product).each do |link| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <a href="<%= link %>" target="_blank">
          <img src="<%= link %>" alt="<%= link %>">
        </a>
        <div class="caption">
          <p><a href="<%= link %>" target="_blank"><%= truncate link %></a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Imgs:</strong>
  <%= @product.imgs %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @product.short_description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @product.long_description %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @product.specs %>
</p>

<p>
  <strong>Options:</strong>
  <%= @product.options %>
</p>

<p>
  <strong>Video links:</strong>
  <%= @product.video_links %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @product.tip %>
</p>

<p>
  <strong>Pdfs:</strong>
  <%= @product.pdfs %>
</p>

<p>
  <strong>Seo text:</strong>
  <%= @product.seo_text %>
</p>

<p>
  <strong>Seo keywords:</strong>
  <%= @product.seo_keywords %>
</p>

<p>
  <strong>Links:</strong>
  <%= @product.links %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


