<h2><%= @product.name %></h2>
<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>Sous Catégorie: <%= link_to@product.productrange.sub_category.name if @product.productrange %></li>
  <li>Marque: <%= link_to @product.productrange.brand.name if @product.productrange %></li>
  <li>Gamme: <%= link_to @product.productrange.name if @product.productrange %></li>
  <li class="active"><%= @product.name %></li>
</ol>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= completion @product %>%">
    Fiche à <%= completion @product %>% complète!
  </div>
</div>

<div class="row">
  <% images(@product).each do |link| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <a href="<%= link %>" target="_blank">
          <img src="<%= link %>" alt="<%= link %>">
        </a>
        <div class="caption">
          <p><a href="<%= link %>" target="_blank"><%= truncate link %></a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title"><%= @product.name %><span class="label label-info pull-right"><%= @product.material %></span></h3>
  </div>
  <div class="panel-body">
    <p><strong>Description courte:</strong> <%= @product.short_description %></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>SEO text:</strong> <%= @product.seo_text %></li>
    <li class="list-group-item"><strong>SEO keywords:</strong> <%= @product.seo_keywords %></li>
    <li class="list-group-item"><strong>Slug:</strong> <%= @product.slug %></li>
  </ul>
</div>


<p>
  <strong>Long description:</strong>
  <%= @product.long_description.html_safe %>
</p>

<p>
  <strong>Specs:</strong>
  <%= @product.specs.html_safe %>
</p>

<p><strong>Options:</strong></p>
<p><%= @product.options %></p>


<p><strong>Tip:</strong></p>
<p><%= @product.tip %></p>

<br>

<% strip_links(@product.video_links).each do |link| %>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video_link(link) %>?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>

<br>

<div class="well well-lg">
  <p><strong>Links:</strong></p>
  <ol>
    <% strip_links(@product.links).each do |link| %>
      <li><%= link_to link %></li>
    <% end %>
  </ol>

  <p><strong>PDFs:</strong></p>
  <ol>
    <% strip_links(@product.pdfs).each do |link| %>
      <li><%= link_to link %></li>
    <% end %>
  </ol>

  <p><strong>Videos:</strong></p>
  <ol>
    <% strip_links(@product.video_links).each do |link| %>
      <li><%= link_to link %></li>
    <% end %>
  </ol>
</div>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


